html{background-color: black;
    color: white;
    font-family:'Roboto', sans-serif;
    
}

nav{
    display: inline;
    color: white;
    text-align: center;
    
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline;
    padding: 10px;
    background-color: transparent;
}

.container{
    border: 5px;
    
}

.container>h1,p,details{
    text-align: center;
}

h1{font-size: 4rem;}

details{
    color: #345C00;
}

.form{height: 200px;
    float: none;
    display: inline;
    text-align: center;
    margin-bottom: 40px;
}

.radio{
    height: 25px;
    width: 25px;
    display: inline;
    font-size: 15px;
    color: white;
    background-color:#213804 ;
    border: 10px white solid;
    padding: 10px;
    position:relative;
    top: 30px}
   
.teacher{
    position: relative;
    left: 650px;
    top: 75px;
    font-size: 16px;
}
    


details>summary>p{
    text-align: justify;
}

button{
    font: 16px;
}


.textarea{
    float: none;
    display: inline;
    text-align: center;
    position: relative;
    top: 100px;
}

textarea{position: relative;
    left: 260px;
    top:20px;
    border-radius: 25px;
    background-color:#2e7e7e; 
    margin-bottom: 50px;
    color: white;
    }

    .footer{
        position: relative;
        top: 200px;
        display: inline;
        float: none;
        text-align: center;
    }

    span{position: relative;
    top:50px;

}

    hr{
       
        background-color: black;
        color: black;}
   
   


